/* ================================= 
  Base Element Styles
==================================== */

body {
	line-height: 1.6;
  color:#080803;
   }

a { 
	color: #080803;
  text-decoration:none;
}


/*==================================
Navigation
====================================*/

.name{
margin-left: 2em;
padding: 0em;
color:#080803;
}

.navi{ 
  
  padding: 2em;
  display: none;
  flex-direction: column; 
  align-items: flex-end;
  font-size: larger; font-weight: bold;
  
}
.subtitle{
  padding-bottom: 2em;
  font-size: larger; font-weight: bold;  
  text-align: center;
  
}
.steps{ 
  margin-left: 6em;

  
}
.steps2{ 
  display: none;
  margin-left: 12em;
}


/* ================================= 
  Base Layout Styles
==================================== */

* {
  box-sizing: border-box;
}


/* ---- Layout Containers ---- */

.main-header {
    background:#89A64F;
    padding: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

.main-footer {
	padding: 2em 0;
    background:#89A64F;
  text-align: center;

}


/* ================================= 
  Media queries
==================================== */
@media screen and (min-width: 1024px) {
.main-header { 
  flex-direction: row;

}
.name{ margin-left: 12em;
}
.steps{
  display: none;
}

.steps2{
  display: flex;
}
}

/* ---- Page Elements ---- */
