/* ================================= 
  Base Element Styles
==================================== */

body {
	line-height: 1.2;
  color:#080803;
  widows: 100%;
   }

a { 
	color: #080803;
  text-decoration:none;
}


/*==================================
Navigation
====================================*/

.name{
margin-left:1em;
margin-right: 1em;
padding: 0em;
color:#080803;
font-size: 2em;
}

.navi{ 
  
  padding: 2em;
  display: none;
  flex-direction: column; 
  align-items: flex-end;
  font-size: larger; font-weight: bold;
  
}
.subtitle{
  padding-top: 2em;
  color: #080803;
  font-size: 2em; font-weight: bold;  
  text-align: center;
  
}
.steps{ 
  margin-left: -2.5em;
  margin-right: 4em;
  margin-top: 2em;
  

  
}
.steps2{ 
  display: none;
  margin-left: 12em;
}

.family{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
  margin-bottom: 0em;
}

.family2{
  display: none;
  margin-left: 6em;  
}

.Pfamily{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;  
  color:#A3A69A;
  font-size: 1em; font-weight: bolder;
  }

  .techinfo{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 0em;
  }

  .techinfo2{
    display: none;
    margin-left: 6em;  
  }

  .portaltools{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 0em;
  }

  .portaltools2{
    display: none;
    margin-left: 6em;  
  }

.emergencies{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3em;
  margin-bottom: 0%;
}

.emergencies2{
  display: none;
}

}

/* ================================= 
  Base Layout Styles
==================================== */

* {
  box-sizing: border-box;
}


/* ---- Layout Containers ---- */

.main-header {
    background:#89A64F;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

.main-footer {
	padding: 2em 0;
  background:#89A64F;
  text-align: center;

}
.ul{
  margin-left: 2em;
  margin-right: 2em;
  color:#A3A69A;
  font-size: 1em; font-weight: bolder;
  
}

/* ================================= 
  Media queries
==================================== */
@media screen and (min-width: 1024px) {
.main-header { 
  flex-direction: row;

}
.name{ 
  margin-left: 4em;
  font-size: 4em;
}
.steps{
  display: none;
}

.steps2{
  display: flex;
  margin-top: 4em;
  margin-left: 2em;
}
.family{
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 2em;
  
}
.Pfamily{
  display: flex;
  flex-direction:column;
  align-items: center;
  color:#A3A69A;
  font-size: 1em; font-weight: bolder;
  margin-left: 8em;
  margin-right: 8em;
  
}

.family2{
  display: flex;
  margin-left: 2em;
}

.techinfo{
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 2em;
}

.techinfo2{
  display: flex;
  margin-left: 2em;
  margin-top: 4em;
}

.emergencies{
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 2em;
}
.emergencies2{
  display: flex;
  margin-left: 20em;
}

.portaltools{
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 2em;
}

.portaltools2{
  display: flex;
  margin-left: 23em;
  margin-top: 4em;
}

.ul{
margin-left: 8em;
margin-right: 8em;
color:#A3A69A;
font-size: 1em; font-weight: bolder;
}
}
/* ---- Page Elements ---- */
