/* ================================= 
  Base Element Styles
==================================== */

body {
	line-height: 1.4;
  color:#080803;
  widows: 100%;
  font-size: 1em;
   }

a { 
	color: #080803;
  text-decoration:none;
}


/*==================================
Navigation
====================================*/

.name{
align-items: center;
width: 70%;
height: auto;
padding: 0em;
color:#080803;
font-size: 2em;
}

.navi{ 
  
  padding: 2em;
  display: none;
  flex-direction: column; 
  align-items: flex-end;
  font-size: medium; font-weight: bold;
  position: fixed;
  right: -1;
  background-color: #89A64F;
  
}
.nav-button{
position: fixed;
right: -2;
height: 15px;
width: 15px;
z-index: 10;
}

.selector{
margin-bottom: 0.5em;
}

.subtitle{
  padding-top: 2em;
  color: #080803;
  font-size: 1.7em; font-weight: bold;  
  text-align: center;
  
}
.steps{ 
  display: inline;  
  margin-top: 2em;
  width: 90%
  

  
}
.steps2{ 
  display: none;
  margin-left: 12em;
}

.family{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: auto;
  
}

.family2{
  display: none;
  margin-left: 6em;  
}

.Pfamily{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;  
  color:#A3A69A;
  font-size: 1em; font-weight: bolder;
  }

  .techinfo{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  
    margin-bottom: 0em;
    width: 90%;
    height: auto;
  }

  .techinfo2{
    display: none;
    margin-left: 6em;  
  }

  .sosbadgeMP{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-left: 3.7em;
    margin-bottom: 0em;
    
  }
  
  
  .sosbadgeMP2{
    display: none;
    margin-left: 6em;
  }

  .portaltools{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 0em;
  }

  .portaltools2{
    display: none;
    margin-left: 6em;  
  } 

.emergencies{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 3em;
}

.emergencies2{
  display: none;
}
.price{
  background-color: #89A64F;
  color: black;  
  font-size: 1em; font-weight: bolder;
 display: flex; 
 flex-direction: row;
 height: 125px;
width: 200px;
margin-top: 4em;
margin-left: 1em; 
padding-top: 1em;
padding-left: 1em;
padding-right: 1em;
}

.contact{

  padding-top: 2em;
  color: #080803;
  font-size: 1.7em; font-weight: bold;  
  text-align: center;
}

.contactbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-left: 8em;
  margin-bottom: 0em;
  
}


.contactbutton2{
  display: none;
  margin-left: 6em;
}

.contactquestion{
  text-align: center;
  color:#A3A69A;
  font-size: 1.2em; font-weight: bolder;
  }
 {}

  /* ================================= 
  Base Layout Styles
==================================== */

{
  box-sizing: border-box;
}


/* ===================================================
Layout Containers 
==================================================== */

.main-header {
    background:#89A64F;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}

.main-footer {
	padding: 2em 0;
  background:#89A64F;
  text-align: center;
  margin-top: 6em;

}
.ul{
  margin-left: -0.5em;
  color: #A3A69A;
  font-size: 1em; 
  font-weight: bolder;
  width:90%;
}
  
/*==================================================================
   Contact Us Form CSS 
   ==================================================================*/
  
   .contactform{
    color: #A3A69A ;
  }
  
  .contactforminfo{
    display: flex;
    flex-direction: column;
    align-content: center;  
    font-size: 2em;
    font-weight: bolder;
    width: 70%;
    margin: auto;  
    padding: 15%;
    
  }
  
  .submitbutton{
    color: black;
    background-color: #89A64F;
    font-size: 1.2em;
  }

/* ================================= 
  Media query Tablets
==================================== */


 @media screen and (min-width:768px) {
  
  .name{
  margin-left:1em;
  margin-right: 1em;
  padding: 0em;
  color:#080803;
  font-size: 3.5em;
  }
  
  .navi{   
    padding: 2em;
    display: none;
    flex-direction: column; 
    align-items: flex-end;
    font-size: larger; font-weight: bold;
    position: fixed;
    right: 0;
    background-color: #89A64F;
    
  }
  .nav-button{
  position: fixed;
  right: 0;
  height: 15px;
  width: 15px;
  z-index: 10;
  }
  
  .selector{
  margin-bottom: 0.5em;
  }
  
  .subtitle{
    padding-top: 2em;
    color: #080803;
    font-size: 3em; 
    font-weight: bold;  
    text-align: center;
    
  }
  .steps2{ 
    display: none;
    margin-left: 6em;
    margin-right: 4em;
    margin-top: 2em;
    
  
    
  }
  .steps{ 
    display: flex;
    width: 90%;
  }
  
  .family{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
  }
  
  .family2{
    display: none;
    margin-left: 6em;  
  }
  
  .Pfamily{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; 
    color:#A3A69A;
    font-size: 2em; font-weight: bolder;
    }
  
    .techinfo{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3em;    
      margin-bottom: 2em;
    }
  
    .techinfo2{
      display: none;
      margin-left: 6em;  
    }
  
    .sosbadgeMP{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4em;
      margin-left: 16em;
      margin-bottom: 0em;
      
    }
    
    
    .sosbadgeMP2{
      display: none;
      margin-left: 6em;
    }
  
    .portaltools{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2em;
      width: 90%;
      height: auto;
      margin-bottom: 0em;
    }
  
    .portaltools2{
      display: none;
      margin-left: 6em;  
    }
  
  .emergencies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    width: 90%;
    height: auto;
  
  }
  
  .emergencies2{
    display: none;
  }
  .price{
   background-color: #89A64F;
   color: black;  
   font-size: 1em; font-weight: bolder;
   display: space-around; 
   flex-direction: row;
   align-content: center;
   height: 125px;
  width: 200px;
  width: 40%;
  margin-left: 12em;
  }
  
  .contact{
  
    padding-top: 2em;
    color: #080803;
    font-size: 1.7em; font-weight: bold;  
    text-align: center;
  }
  
  .contactbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:10%;
    height: auto;
    margin-left: 15em;
    
  }
  
  
  .contactbutton2{
    display: none;
    margin-left: 6em;
  }
  
  .contactquestion{
    text-align: center;
    color:#A3A69A;
    font-size: 1.5em; font-weight: bolder;
    }
  

  
  /* ================================= 
    Base Layout Styles
  ==================================== */
  
   {
    box-sizing: border-box;
  }
  
  
  /* ====================================
  Layout Containers
  ======================================= */
  
  .main-header {
      background:#89A64F;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    
  }
  
  .main-footer {
    padding: 2em 0;
    background:#89A64F;
    text-align: center;
    margin-top: 6em;
  
  }
  .ul{
    margin-left: 1em;
    width: 90%;    
    color:#A3A69A;
    font-size: 1.4em; font-weight: bolder;
    
  }
    
  
  
  /*==================================================================
   Contact Us Form CSS 
   ==================================================================*/
  
  .contactform{
    color: #A3A69A;
  }
  
 .contactforminfo{
    display: flex;
    flex-direction: column;
    width:70%;  
    font-size: 2em;
    font-weight: bolder;
      
  }
  
  .submitbutton{
    color: black;
    background-color: #89A64F;
    font-size: 1.2em;
  }



/*============================================ 
Media query Large Screens
=============================================*/
  
  @media screen and (min-width: 1024px){

.main-header { 
  flex-direction: row;
  background:#89A64F;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    

}
.name{ 
  margin-left: 1em;
  font-size: 3em;
}

.subtitle{
  padding-top: 2.5em;
  color: #080803;
  font-size: 2em; font-weight: bold;  
  text-align: center;
}
.steps{
  display: none;
}

.steps2{
  display: flex;
  margin-top: 2em;  
  width: 80%;
  height: auto;
  align-self: start;
  margin-left: 4em;
  
  
}
.family{
  display: flex;
  width: 20%;
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-left: 22em; 
  
}
.Pfamily{
  line-height: 1.4em;
  display: flex;
  flex-direction:column;
  align-items: center;
  font-size: 1.3em;
  color:#A3A69A;
  font-weight: bolder;
  width: 80%;
  height: auto;
  text-align: center; 
  margin-left: 6em;
}


.techinfo{
  
  flex-direction: column;  
  align-items: center;
  width: 85%;
  margin-left: 2em;
  
}

.sosbadgeMP{
  display: flex;
  width: 40%;
  height: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 23em;}



.emergencies{
  display: flex;
  width: 85%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 1em;
}

.portaltools{
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 20em;
}
.ul{
width:80%;
margin: auto;
margin-left: 6em;
margin-top: 1em;
font-size: 1.1em;
color:#A3A69A;
font-weight: bolder;
}
.price{
  background-color: #89A64F;
  color: black;
  font-size: 1.2em; 
  font-weight: bolder;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
  display: inline-flex;   
  height: 150px;
  width: 250px;
  margin-left: 6em;

}

.contactbutton{
  display: flex;
  width: 5%;
  height: auto;
  margin-left: 33.5em;
  margin-top: 1em;
}

.contactquestion{
text-align: center;
color:#A3A69A;
font-size: 1.2em; font-weight: bolder;
}

  
.contactform{
  color: #A3A69A ;
}

.contactforminfo{
  display: flex;
  width: 70%;
  flex-direction: column;
  align-content: flex-start;  
  font-size: 1.2em;
  font-weight: bolder;  
  margin-bottom:4em; 
  margin-top:-7em; 
}

.submitbutton{
  color: black;
  background-color: #89A64F;
  font-size: 1.2em;

}


.submitbutton{
color: black;
background-color: #89A64F;
font-size: 1.2em;
} 

li:nth-child(even){
  background-color: lightgrey ;
  color: black;
}

}


